<div class="row section-content admin-menu">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-30">
        <div class="h-menu-container">
            <a href="/profile/delete" class="h-link red-color">Profile Delete</a>
            <span class="h-link">|</span>
            <a id="admin_menu_profile_edit" href="/profile/edit" class="h-link">Profile Edit</a>
            <span class="h-link">|</span>
            <a id="admin_menu_profile" href="/profile" class="h-link">Profile</a>
            <span class="h-link" ng-if="superadmin">|</span>
            <a id="admin_menu" href="/admin" class="h-link" ng-if="superadmin">Admin</a>
            <span class="h-link">|</span>
            <a id="admin_menu_dashboard" href="/dashboard" class="h-link">Dashboard</a>
            <span class="h-link">|</span>
            <a href="/" class="h-link">Home</a>
        </div>
    </div>
</div>
<script>
    (() => {
        const path = window.location.pathname;
        let id = null;

        if (path.includes('dashboard')) {
            id = 'admin_menu_dashboard';
        }
        if (path.includes('admin')) {
            id = 'admin_menu';
        }
        if (path.includes('profile')) {
            id = 'admin_menu_profile';
        }
        if (path.includes('profile/edit')) {
            id = 'admin_menu_profile_edit';
        }

        const el = document.getElementById(id);
        if (el) {
            el.classList.add('active');
        }
    })()

</script>