
<!--<center>-->
    <!--<div class="section-content hidden-xs hidden-sm contact-us w-100">-->

        <!--<div class="container">-->
            <!--<span><a href="/subscribe" class="h-link pull-left m-l-30">Subscribe for updates</a></span>-->
            <!--<span class=" org-color h-link m-r-30">Contact us: info@coders.bar</span>-->
        <!--</div>-->

    <!--</div>-->
<!--</center>-->

<footer class="new-footer hidden-xs hidden-sm">
    <div class="container">
        <div  style="position: relative;">
            <span ng-cloak  ng-show="!hide_subscribe_link"><a href="/subscribe" class="h-link pull-left m-l-30 fwbl">Subscribe for updates</a></span>
            <!--<span><a href="/contact" class="h-link m-r-30 fwbl">Contact us: info@coders.bar</a></span>-->
        </div>

        <!--
        <div class="social-wrapper"><a href="https://www.facebook.com/iiarcanas/" rel="external nofollow"
                                       target="_blank" class="follow-soical fb">Facebook</a>
            <a href="https://twitter.com/iiarcanas/" rel="external nofollow" target="_blank" class="follow-soical tw">Twitter</a>
            <a href="http://www.linkedin.com/" rel="external nofollow" target="_blank"
               class="follow-soical gp">LinkedIn</a>
            <a href="https://plus.google.com//b/103010397491783339707/" rel="external nofollow" target="_blank"
               class="follow-soical li">Google+</a>
        </div>
        -->
        <div class="copyright m-l-150">Contact us: info@coders.bar</div>
        <div class="copyright">2009-2022&nbsp;©&nbsp;Arcana Software Development LLC</div>
    </div>
</footer>