<div class=" hidden-xs hidden-sm search-panel desktop"
     style="height: 100px; width: 100%; background-color: #F6D101;">
    <div class="section-content" style="height: 130px;">
        <form id="articles_full_text_search_form" class="page-search-form" novalidate style="margin-bottom: 200px">
            <div class="row">
                <div class="col-md-10 col-lg-11">
                    <div class="row m-t-10">
                        <div class="col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="input-label-mobile m-b-5">
                                    <label for="articles" class="brown-color p-l-20">Articles</label>
                                </div>
                                <input class="new-input placeholder-gray" type="text" id="articles" name="keywords"
                                       placeholder="Keywords" title="Keywords" style="">
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-2 col-lg-2">
                            <div class="form-group">
                                <div class="input-label-mobile m-b-5">
                                    <label for="categories" class="brown-color">Categories</label>
                                </div>
                                <select class="new-input placeholder-gray" id="categories" name="categories">
                                    <option value="0" selected style="width:240px;">
                                        &nbsp;ALL
                                    </option>
                                    <option value="2" data-img-src="assets/images/banners/GB.png" style="width:240px;">
                                        &nbsp;GB
                                    </option>
                                    <option value="11" data-img-src="assets/images/banners/BR.png" style="width:240px;">
                                        &nbsp;BR
                                    </option>
                                    <option value="50" data-img-src="assets/images/banners/TR.png" style="width:240px;">
                                        &nbsp;TR
                                    </option>
                                    <option value="43" data-img-src="assets/images/banners/ES.png" style="width:240px;">
                                        &nbsp;ES
                                    </option>
                                    <option value="20" data-img-src="assets/images/banners/DE.png" style="width:240px;">
                                        &nbsp;DE
                                    </option>
                                    <option value="18" data-img-src="assets/images/banners/FR.png" style="width:240px;">
                                        &nbsp;FR
                                    </option>
                                    <option value="4" data-img-src="assets/images/banners/IT.png" style="width:240px;">
                                        &nbsp;IT
                                    </option>
                                    <option value="1" data-img-src="assets/images/banners/RU.png" style="width:240px;">
                                        &nbsp;RU
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-1">
                    <div class="w-100 m-t-40">
                        BBB{{testCtrl.test}}CCC
                        <button class="btn btn-orange w-100" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<button id="filter_button" class="hidden-md hidden-lg btn filter-button hidden" type="button">
    <span>Filter</span>
</button>
<div id="mobile_articles_filter" class=" hidden-md hidden-lg  wrapper-mobile">
    <div class="search-content-mobile p-t-30">
        <form id="mobile_articles_full_text_search_form">
            <div class="input-text-block-mobile">
                <div class="input-label-mobile m-b-5">
                    <label for="m_keywords" class="brown-color p-l-20">Articles</label>
                </div>
                <input name="keywords" required type="text" id="m_keywords" placeholder="Articles"/>
            </div>
            <div class="input-text-block-mobile m-b-5">
                <div class="input-label-mobile m-b-25">
                    <label for="m_categories" class="brown-color  p-l-20">Categories</label>
                </div>
                <select class="new-input placeholder-gray" id="m_categories" name="categories">
                    <option data-ng-repeat="category in categories" value="{{category.id}}">
                        {{category.name}}
                    </option>
                </select>
            </div>


            <!--<div class="input-label-mobile">-->
            <!--<span>What:</span>-->
            <!--<p>Articles</p>-->
            <!--</div>-->
            <!--<div class="input-text-block-mobile search-icon">-->
            <!--<input name="location" type="text" placeholder="Location"/>-->
            <!--</div>-->
            <div class="button-size-mobile m-t-20">
                <button class="submit-button-mobile" type="submit">
                    <img class="submit-image-mobile" src="assets/images/mobile/submit.png" alt=""/>
                    <span>Search</span>
                </button>

            </div>
        </form>
    </div>
</div>