
<style>
    .keywords .chosen-container {
        height: 50px !important;
    }

    .keywords .chosen-single {
        height: 50px !important;
    }

    .keywords .chosen-single div, .keywords .chosen-single span {
        margin-top: 10px !important;
    }

    .chosen-single {
        font-size: 16px !important;
    }
</style>
<div class="w-100 keywords">
    <form id="full_text_search_form" novalidate>
        <div class="section-content page-additional-form">
            <div class="row p-t-25 p-l-20 p-r-20">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="input-label-mobile p-l-20 m-b-5">
                                    <label for="search_keywords" class="light-brown-color">Search</label>
                                </div>
                                <div class="input-text-block-mobile">
                                    <input id="search_keywords" class="new-input m-t-3 placeholder-gray" type="text"
                                           placeholder="Keywords, minimum 5 characters"
                                           name="keywords">
                                </div>
                            </div>

                        </div>
                        <div class="hidden-xs hidden-sm  col-md-2 col-lg-2"></div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group">
                                <div class="input-label-mobile p-l-20 m-b-5">
                                    <label for="banner" class="light-brown-color">Countries</label>
                                </div>
                                <div class="mobile_search_keyword">
                                    <select class="form-control right m-r-20 my-banner" id="banner" name="countries">
                                        <option value="0" selected  style="width:240px;" class="f-size-16">
                                            &nbsp;ALL
                                        </option>
                                        <option value="51" data-img-src="assets/images/banners/US.png" style="width:240px;">
                                            &nbsp;US
                                        </option>
                                        <option value="2" data-img-src="assets/images/banners/GB.png" style="width:240px;">
                                            &nbsp;UK
                                        </option>
                                        <option value="11" data-img-src="assets/images/banners/BR.png" style="width:240px;">
                                            &nbsp;BR
                                        </option>
                                        <option value="50" data-img-src="assets/images/banners/TR.png" style="width:240px;">
                                            &nbsp;TR
                                        </option>
                                        <option value="43" data-img-src="assets/images/banners/ES.png" style="width:240px;">
                                            &nbsp;ES
                                        </option>
                                        <option value="20" data-img-src="assets/images/banners/DE.png" style="width:240px;">
                                            &nbsp;DE
                                        </option>
                                        <option value="18" data-img-src="assets/images/banners/FR.png" style="width:240px;">
                                            &nbsp;FR
                                        </option>
                                        <option value="4" data-img-src="assets/images/banners/IT.png" style="width:240px;">
                                            &nbsp;IT
                                        </option>
                                        <option value="1" data-img-src="assets/images/banners/RU.png" style="width:240px;">
                                            &nbsp;RU
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="button-size-mobile mobile_search_keyword m-t-20 m-b-30">
                                <button class="btn btn-orange btn-lg" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="clear-fix"></div>
        </div>
    </form>
</div>