<div class=" hidden-xs hidden-sm search-panel desktop w-100"
     style="height: 100px;">

    <form id="full_text_search_form"  novalidate action="/search-resume">
        <div class="section-content p-t-10" style="height: 100px;">
            <div class="page-search-form">
                <div class="row">
                    <div class="col-md-5 col-lg-5">
                        <div class="w-100 m-t-10">
                            <input class="new-input placeholder-gray desktop-group" type="text" value="{{what}}" name="what"
                                   placeholder="Profession, industries or company" title="Keywords" style="">
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="w-100 m-t-10">
                            <input class="new-input placeholder-gray desktop-group w-100" type="text" placeholder="Country, city or state"
                                   title="Place" maxlength="70" value="{{where}}" name="where">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="w-100 m-t-15">
                            <div class="w-100">
                                <button class="btn btn-orange" type="submit">Search Resume</button>
                            </div>
                            <div class="w-100">
                                <div class="add-block m-t-3">
                                    <a id="addVacancyButton" href="/vacancy/create" title="Add vacancy">
                                        <img src="assets/images/new/plus.svg"
                                             alt=""
                                             class="m-t-5"
                                             height="20"
                                             width="20"
                                             onerror="this.onerror=null; this.src='assets/images/new/plus.png'">
                                        <div style="display: inline-block; position: relative; bottom: 5px">&nbsp;&nbsp;Add
                                            vacancy
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content page-additional-form">
            <div class="row p-t-20">
                <div class="col-md-3 col-lg-3">
                    <div class="input-label-mobile m-b-5">
                        <label for="search_salary" class="fwn light-brown-color">Salary from</label>
                    </div>
                    <div class="input-text-block-mobile">
                        <input id="search_salary" class="new-input m-t-3 placeholder-gray desktop-group" type="text"
                               placeholder="Salary" value="{{salary}}"
                               name="salary">
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="input-label-mobile m-b-5">
                        <label for="search_currency" class="fwn light-brown-color" >Currency</label>
                    </div>
                    <div class="input-text-block-mobile">
                        <select class="new-input m-t-3 placeholder-gray"
                                id="search_currency"
                                data-live-search="true"
                                name="currencies">
                            <option></option>
                            <option value="USD"  ng-selected="currencies === 'USD'">USD</option>
                            <option value="EURO" ng-selected="currencies === 'EURO'">EURO</option>
                            <option value="GBP"  ng-selected="currencies === 'GBP'">GBP</option>
                            <option value="BRL"  ng-selected="currencies === 'BRL'">BRL</option>
                            <option value="SEK"  ng-selected="currencies === 'SEK'">SEK</option>
                            <option value="TRY"  ng-selected="currencies === 'TRY'">TRY</option>
                            <option value="PLN"  ng-selected="currencies === 'PLN'">PLN</option>
                            <option value="JPY"  ng-selected="currencies === 'JPY'">JPY</option>
                            <option value="CAD"  ng-selected="currencies === 'CAD'">CAD</option>
                            <option value="AUD"  ng-selected="currencies === 'AUD'">AUD</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="input-label-mobile m-b-5">
                        <label class="fwn light-brown-color" for="type_of_work">Type of work</label>
                    </div>
                    <div class="input-text-block-mobile">
                        <select class="new-input m-t-3 placeholder-gray"
                                data-live-search="true"
                                id="type_of_work"
                                name="type">
                            <option value="no-matter"  ng-selected="type === 'no-matter'">No Matter</option>
                            <option value="full-time" ng-selected="type === 'full-time'">Full time</option>
                            <option value="insite" ng-selected="type === 'insite'">Insite</option>
                            <option value="part-time"  ng-selected="type === 'part-time'">Part time</option>
                            <option value="project"  ng-selected="type === 'project'">Project</option>
                            <option value="remote"  ng-selected="type === 'remote'">Remote</option>
                            <option value="volunteer"  ng-selected="type === 'volunteer'">Volunteer</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="input-label-mobile m-b-5">
                        <label class="fwn light-brown-color" for="search_sort">Sort by</label>
                    </div>
                    <div class="input-text-block-mobile">
                        <select class="new-input m-t-3 placeholder-gray"
                                id="search_sort"
                                data-live-search="true"
                                name="order">
                            <option value="1"  ng-selected="order === '1'">Newest first</option>
                            <option value="2"  ng-selected="order === '2'">Oldest first</option>
                            <option value="3"  ng-selected="order === '3'">Salary max</option>
                            <option value="4"  ng-selected="order === '4'">Salary min</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="button-size-mobile m-t-10 right">
                <button class="btn btn-orange" type="submit">
                    <img class="submit-image-mobile" src="assets/images/mobile/submit.png" height="15" width="15"
                         alt=""/>
                    <span>Search</span>
                </button>

            </div>
        </div>
    </form>
</div>
<button id="filter_button" class="hidden-md hidden-lg btn filter-button m-b-25" type="button">
    <span>Filter</span>
</button>
<div id="mobile_filter" style="display: none" class=" hidden-md hidden-lg  wrapper-mobile">
    <div class="search-content-mobile p-t-30">
        <form id="mobile_full_text_search_form">
            <div class="input-text-block-mobile">
                <input name="what" type="text" title="Keywords" class="mobile-group"
                       placeholder="Profession, industries or company"
                       value="{{what}}"
                />
            </div>
            <div class="input-label-mobile">
                <span>What:</span>
                <p>Profession, industries or company</p>
            </div>
            <div class="input-text-block-mobile search-icon">
                <input name="where" class="mobile-group" type="text" title="location" placeholder="Location" value="{{where}}"  />
            </div>
            <div class="input-label-mobile">
                <span>Where:</span>
                <p>Country, city or state</p>
            </div>
            <div class="input-text-block-mobile">
                <input id="mobile_search_salary" class="form-control input-text-block-mobile m-t-3 mobile-group"
                       type="text"
                       placeholder="Salary"
                       name="salary"
                       value="{{salary}}"
                />

            </div>
            <div class="input-label-mobile">
                <label for="mobile_search_salary" class="fwn">Salary from</label>
            </div>

            <div class="input-text-block-mobile">
                <select class="form-control input-text-block-mobile m-t-3"
                        data-live-search="true"
                        id="mobile_search_currency"
                        name="currencies">
                    <option value=""></option>
                    <option value="USD"  ng-selected="currencies === 'USD'">USD</option>
                    <option value="EURO" ng-selected="currencies === 'EURO'">EURO</option>
                    <option value="GBP"  ng-selected="currencies === 'GBP'">GBP</option>
                    <option value="BRL"  ng-selected="currencies === 'BRL'">BRL</option>
                    <option value="SEK"  ng-selected="currencies === 'SEK'">SEK</option>
                    <option value="TRY"  ng-selected="currencies === 'TRY'">TRY</option>
                    <option value="PLN"  ng-selected="currencies === 'PLN'">PLN</option>
                    <option value="JPY"  ng-selected="currencies === 'JPY'">JPY</option>
                    <option value="CAD"  ng-selected="currencies === 'CAD'">CAD</option>
                    <option value="AUD"  ng-selected="currencies === 'AUD'">AUD</option>
                </select>
            </div>

            <div class="input-label-mobile">
                <label for="mobile_search_currency" class="fwn">Currency</label>
            </div>
            <div class="input-text-block-mobile">
                <select class="form-control  input-text-block-mobile m-t-3" data-live-search="true"
                        id="mobile_type_of_job"
                        name="type">
                    <option value="no-matter"  ng-selected="type === 'no-matter'">No Matter</option>
                    <option value="full-time" ng-selected="type === 'full-time'">Full time</option>
                    <option value="part-time"  ng-selected="type === 'part-time'">Part time</option>
                    <option value="project"  ng-selected="type === 'project'">Project</option>
                    <option value="remote"  ng-selected="type === 'remote'">Remote</option>
                    <option value="volunteer"  ng-selected="type === 'volunteer'">Volunteer</option>
                </select>
            </div>
            <div class="input-label-mobile">
                <label class="fwn" for="mobile_type_of_job">Type of Work</label>
            </div>
            <div class="input-text-block-mobile">
                <select class="form-control input-text-block-mobile m-t-3" id="mobile_search_sort" name="order">
                    <option value="0" ng-selected="order === '0'">Relevant</option>
                    <option value="1"  ng-selected="order === '1'">Newest first</option>
                    <option value="2"  ng-selected="order === '2'">Oldest first</option>
                    <option value="3"  ng-selected="order === '3'">Salary max</option>
                    <option value="4"  ng-selected="order === '4'">Salary min</option>
                </select>
            </div>
            <div class="input-label-mobile">
                <label class="fwn" for="mobile_search_sort">Sort by</label>
            </div>
            <div class="button-size-mobile">
                <button class="submit-button-mobile" type="submit">
                    <img class="submit-image-mobile-w" src="assets/images/mobile/submit.png" alt=""/>
                    <span>Search</span>
                </button>

            </div>
        </form>
    </div>
</div>