
<style>
    .keywords .chosen-container {
        height: 50px !important;
    }

    .keywords .chosen-single {
        height: 50px !important;
    }

    .keywords .chosen-single div, .keywords .chosen-single span {
        margin-top: 10px !important;
    }
</style>
<div class="w-100 keywords" style="position:relative; top: -25px;">

    <form id="full_text_search_form" novalidate>
        <div class="section-content page-additional-form">
            <div class="row p-t-20">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="input-label-mobile m-b-5">
                        <label for="search_keywords" class="fwn" style="color: #BD8200">Search</label>
                    </div>
                    <div class="input-text-block-mobile">
                        <input id="search_keywords" class="new-input m-t-3 placeholder-gray" type="text"
                               placeholder="Keywords"
                               name="keywords">
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <div class="input-label-mobile m-b-5">
                            <label for="banner" style="color: #BD8200">Countries</label>
                        </div>
                        <select class="form-control right m-r-20 my-banner" id="banner" name="countries">
                            <option value="0" selected  style="width:240px;">
                                &nbsp;ALL
                            </option>
                            <option value="2" data-img-src="assets/images/banners/GB.png" style="width:240px;">
                                &nbsp;GB
                            </option>
                            <option value="11" data-img-src="assets/images/banners/BR.png" style="width:240px;">
                                &nbsp;BR
                            </option>
                            <option value="50" data-img-src="assets/images/banners/TR.png" style="width:240px;">
                                &nbsp;TR
                            </option>
                            <option value="43" data-img-src="assets/images/banners/ES.png" style="width:240px;">
                                &nbsp;ES
                            </option>
                            <option value="20" data-img-src="assets/images/banners/DE.png" style="width:240px;">
                                &nbsp;DE
                            </option>
                            <option value="18" data-img-src="assets/images/banners/FR.png" style="width:240px;">
                                &nbsp;FR
                            </option>
                            <option value="4" data-img-src="assets/images/banners/IT.png" style="width:240px;">
                                &nbsp;IT
                            </option>
                            <option value="1" data-img-src="assets/images/banners/RU.png" style="width:240px;">
                                &nbsp;RU
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="button-size-mobile m-t-10 right">
                <button class="btn btn-orange" type="submit">
                    <img class="submit-image-mobile" src="assets/images/mobile/submit.png" height="15" width="15"
                         alt=""/>
                    <span>Search</span>
                </button>

            </div>
        </div>
    </form>
</div>