<div class=" hidden-xs hidden-sm search-panel desktop"
     style="height: 100px; width: 100%; background-color: #F6D101;">
    <div class="section-content" style="height: 100px;padding-top: 10px">
        <form id="articles_full_text_search_form" class="page-search-form" novalidate style="margin-bottom: 200px">
            <div class="row">
                <div class="col-md-11 col-lg-11">
                    <div style="width: 100%;margin-top: 10px;">
                        <input class="new-input placeholder-gray" type="text"
                               placeholder="Articles" title="Keywords" style="">
                    </div>
                </div>
                <div class="col-md-1 col-lg-1">
                    <div style="width: 100%;margin-top: 17px;">
                        <div style="width: 100%">
                            <button class="btn btn-orange">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<button id="filter_button" class="hidden-md hidden-lg btn filter-button hidden" type="button">
    <span>Filter</span>
</button>
<div id="mobile_articles_filter"  class=" hidden-md hidden-lg  wrapper-mobile">
    <div class="search-content-mobile p-t-30">
        <form id="mobile_articles_full_text_search_form">
            <div class="input-text-block-mobile">
                <input name="keywords" required type="text" placeholder="Articles"/>
            </div>
            <!--<div class="input-label-mobile">-->
                <!--<span>What:</span>-->
                <!--<p>Articles</p>-->
            <!--</div>-->
            <!--<div class="input-text-block-mobile search-icon">-->
                <!--<input name="location" type="text" placeholder="Location"/>-->
            <!--</div>-->
            <div class="button-size-mobile m-t-20">
                <button class="submit-button-mobile" type="button">
                    <img class="submit-image-mobile" src="assets/images/mobile/submit.png" alt=""/>
                    <span>Search</span>
                </button>

            </div>
        </form>
    </div>
</div>