<!--<div class=" hidden-xs hidden-sm section-content">-->
    <!--<div class="home-block">-->
        <!--<div class="main-title">-->
            <!--<div  style="margin: 0 auto;">-->
                <!--<span class="yellow">IT</span>-->
                <!--<span class="black">relocation</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="desc">-->
            <!--There you will find <span class="yellow"> 80986</span> job advertisements from <a-->
            <!--href="javascript:void 0" title="" class="yellow"> 14 countries </a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<form id="main_search_form" class="main-search-form gray-form css3" novalidate style="margin-bottom: 200px">-->
        <!--<div class="row">-->
            <!--<div class="col-md-5">-->
                <!--<div style="width: 100%;margin-top: 20px;">-->
                    <!--<input class="new-input placeholder-gray" type="text"-->
                           <!--placeholder="Profession, industries or company" title="Keywords" style="">-->
                    <!--<div class="radio-block">-->
                        <!--<input class="my" type="radio" id="vacancy_search_type" value="Vacancy" name="search_type">-->
                        <!--<label for="vacancy_search_type" class="search-type">&nbsp;&nbsp;Vacancy</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-5">-->
                <!--<div style="width: 100%;margin-top: 20px;">-->
                    <!--<input class="new-input placeholder-gray" type="text" placeholder="Country, city or state"-->
                           <!--title="Place" maxlength="70" style="width: 100%;">-->
                    <!--<div class="radio-block">-->
                        <!--<input class="my" type="radio" id="resume_search_type" value="Resume" name="search_type"-->
                               <!--checked>-->
                        <!--<label for="resume_search_type" class="search-type">&nbsp;&nbsp;Resume</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2">-->
                <!--<div style="width: 100%;margin-top: 27px;">-->
                    <!--<div style="width: 100%">-->
                        <!--<button id="search_resume" class="btn btn-orange">Search Resume</button>-->
                        <!--<button id="search_vacancy" style="display: none" class="btn btn-orange">Search Vacancy-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div style="width: 100%">-->
                        <!--<div class="add-block" style="display: none;">-->
                            <!--<img src="assets/images/new/plus.svg" height="20" width="20"-->
                                 <!--onerror="this.onerror=null; this.src='assets/images/new/plus.png'">-->
                            <!--<a id="addResumeButton" href="javascript:void 0" title="Add resume">-->
                                <!--Add resume-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="add-block">-->
                            <!--<a id="addVacancyButton" href="javascript:void 0" title="Add resume">-->
                                <!--<img src="assets/images/new/plus.svg" height="20" width="20"-->
                                     <!--onerror="this.onerror=null; this.src='assets/images/new/plus.png'">-->
                                <!--&nbsp;&nbsp;Add vacancy-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->

<!--</div>-->
<!--<div class=" hidden-md hidden-lg   wrapper-mobile">-->
    <!--<div class="search-content-mobile">-->
        <!--<form id="mobile_main_search">-->
            <!--<div class="search-content-mobile-text">-->
                <!--<span>IT</span>-->
                <!--<p>relocation</p>-->
            <!--</div>-->
            <!--<div class="input-text-block-mobile">-->
                <!--<input type="text" placeholder="Keywords"/>-->
            <!--</div>-->
            <!--<div class="input-label-mobile">-->
                <!--<span>What:</span>-->
                <!--<p>Profession, industries or compan</p>-->
            <!--</div>-->
            <!--<div class="input-text-block-mobile search-icon">-->
                <!--<input type="text" placeholder="Location"/>-->
            <!--</div>-->
            <!--<div class="input-label-mobile">-->
                <!--<span>Where:</span>-->
                <!--<p>Country, city or state</p>-->
            <!--</div>-->
            <!--<div class="button-size-mobile">-->
                <!--<button class="submit-button-mobile" type="button">-->
                    <!--<img class="submit-image-mobile" src="assets/images/mobile/submit.png" alt=""/>-->
                    <!--<span>Search</span>-->
                <!--</button>-->

            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->