<div class="row section-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="search-block m-b-30">
            <div class="search-grey-text right">Age: 30</div>
            <a href="#" class="block-title" style="font-size: 18px;"> PHP developer Junior(position)</a>

            <div class="resume-user-info m-t-10">
                <div class="search-grey-text left">Minsk, Belarus</div>
                <div class="search-grey-text left m-l-5">|</div>
                <div class="search-grey-text left m-l-5">Mikhail Skorokhod</div>
                <div class="search-block-salary"><span class="block-salary">3000&nbsp;€</span>
                </div>
                <div class="clearfix"></div>
                <div class="search-block-content content-item m-t-10">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue
                    quisque. Adipiscing elit ut aliquam purus sit amet. Lacinia at quis risus sed vulputate odio ut enim
                    blandit. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Eget nunc lobortis
                    mattis aliquam faucibus purus in. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam
                    etiam. Odio ut enim blandit volutpat maecenas volutpat. Accumsan tortor posuere ac ut consequat
                    semper viverra nam libero. Vitae proin sagittis nisl rhoncus. Ante in nibh mauris cursus mattis
                    molestie a iaculis at. Sit amet massa vitae tortor condimentum lacinia quis vel eros. Lorem donec
                    massa sapien faucibus et molestie ac. Cursus metus aliquam eleifend mi in nulla. Eget dolor morbi
                    non arcu risus.
                </div>
                <div class="m-t-10">
                    <div class="search-block-date left">2020-07-21</div>
                    <a href="#" class="search-block-more right">More</a>
                </div>
            </div>
        </div>
    </div>
</div>