<div class=" hidden-xs hidden-sm section-content">
    <div class="row section-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-30">
            <div class="h-menu-container">
                <!--<a href="/" class="h-link">Contact us</a>-->
                <!--<span class="h-link">|</span>-->
                <a href="/hardware" class="h-link">Hardware</a>
                <span class="h-link">|</span>
                <a href="/software" class="h-link">Software</a>
                <span class="h-link">|</span>
                <a href="/certification" class="h-link">Certification</a>
                <span class="h-link">|</span>
                <a href="/migration" class="h-link">Migration</a>
                <span class="h-link">|</span>
                <a href="/tests" class="h-link">Tests</a>
                <span class="h-link">|</span>
                <a href="/books" class="h-link">Books</a>
                <span class="h-link">|</span>
                <a href="/educations" class="h-link">Education</a>
                <span class="h-link">|</span>
                <a href="/events" class="h-link">Events</a>
                <span class="h-link">|</span>
                <a href="/job" class="h-link">Job</a>
                <span class="h-link">|</span>
                <a href="/" class="h-link">Home</a>
            </div>
        </div>
    </div>
</div>