<div class="row section-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-75 m-t-75">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a class="vacancy-position">Position PHP Developer</a>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="vacancy-location right">Full time</div>
            </div>
        </div>
        <div class="row m-t-30 m-b-50">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <img src="assets/images/seb-logo.png" class="w-100">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 d-f m-t-30">

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 w-100">
                    <div class="vacancy-name d-i-b m-l-30">SEB bank</div>
                    <div class="vacancy-location d-i-b m-l-30">Lithuania</div>
                    <div class="vacancy-location d-i-b m-l-3">|</div>
                    <div class="vacancy-location d-i-b m-l-3">Naujoji Akmene</div>


                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="vacancy-salary d-b right">
                        <span class="vacancy-salary-amount">3000&nbsp;$</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="vacancy-key m-b-20">Key skills:&nbsp; <span class="vacancy-text">PHP, MYSQL</span></div>
        <div class="vacancy-key m-b-20">Work conditions:&nbsp; <span class="vacancy-text">Every day and night</span></div>

        <div class="vacancy-key m-b-20">Professional experience:&nbsp;<span class="vacancy-text">10 years</span></div>
        <div class="vacancy-key m-b-20">Responsibilities:&nbsp;<span class="vacancy-text">Work as horse</span></div>
        <div class="vacancy-key m-b-20">Main Requirements:&nbsp;<span class="vacancy-text">Work as horse</span></div>
        <div class="vacancy-key m-b-20">Additional Requirements:&nbsp;<span class="vacancy-text">Work as 2 horses</span>
        </div>
        <div class="vacancy-key m-b-20">Description:&nbsp;
            <span class="vacancy-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Adipiscing elit ut aliquam purus sit amet. Lacinia at quis risus sed vulputate odio ut enim blandit. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Eget nunc lobortis mattis aliquam faucibus purus in. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Odio ut enim blandit volutpat maecenas volutpat. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Vitae proin sagittis nisl rhoncus. Ante in nibh mauris cursus mattis molestie a iaculis at. Sit amet massa vitae tortor condimentum lacinia quis vel eros. Lorem donec massa sapien faucibus et molestie ac. Cursus metus aliquam eleifend mi in nulla. Eget dolor morbi non arcu risus.
                </span>
        </div>


        <div class="m-t-10">
            <div class="vacancy-date left">2020-07-21</div>
        </div>
    </div>
</div>