<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<div data-ng-include="top_menu"></div>
<div data-ng-include="top_menu_mobile"></div>
<div class="section-content clear-fix">
    <div class="row m-r-0 m-l-0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page404">
                404 Page not found
            </div>
        </div>
    </div>
</div>
<div data-ng-include="footer"></div>