<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<!--<div data-ng-include="top_menu"></div>-->
<!--<div data-ng-include="top_menu_mobile"></div>-->
<div class="container">
    <div class="row section-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-30">
            <div class="h-menu-container">
                <a href="/profile/delete" class="h-link red-color">Profile Delete</a>
                <span class="h-link">|</span>
<!--                <a ng-cloak ng-show="company" href="/company/list" class="h-link">Companies</a>-->
<!--                <span ng-cloak ng-show="company" class="h-link">|</span>-->
                <a href="/profile/edit" class="h-link">Profile Edit</a>
                <span class="h-link">|</span>
                <a href="/profile" class="h-link">Profile</a>
                <span class="h-link">|</span>
                <a href="/admin" class="h-link">Admin</a>
                <span class="h-link">|</span>
                <a href="/dashboard" class="h-link active">Dashboard</a>
                <span class="h-link">|</span>
                <a href="/" class="h-link">Home</a>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="footer"></div>