<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<div data-ng-include="top_menu"></div>
<div data-ng-include="top_menu_mobile"></div>
<div class="container m-b-100 m-t-40">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
                <div id="error_container" class="red-color f-size-24"></div>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-30">
            <div class="left   m-b-50">
                <span class="f-size-28 flower-blue-color">Create Company</span>
            </div>
            <div id="content_container"></div>
        </div>
    </div>
</div>
<div data-ng-include="footer"></div>