<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<!--<div data-ng-include="top_menu"></div>-->
<!--<div data-ng-include="top_menu_mobile"></div>-->
<div class="container">
    <div data-ng-include="admin_menu"></div>
    <h2 class="m-t-100 m-b-50 title-color">Notifications</h2>
    <div class="row m-b-30">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/messages">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Messages
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/notifications">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Notifications
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{subscriptions > 0 ? '/subscriptions' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Subscriptions &nbsp; ({{subscriptions}})
                </div>
            </a>
        </div>
    </div>
    <h2 class="m-t-100 m-b-50 title-color">Companies</h2>
    <div class="row m-b-50">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{companies > 0 ? '/company/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    List Companies &nbsp; ({{companies}})
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/company/create">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Create Company
                </div>
            </a>
        </div>
    </div>
    <h2 class="m-t-100 m-b-50 title-color">Vacancies</h2>
    <div class="row m-b-50">
        <div ng-if="company" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/vacancy/user/list">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    My Vacancies
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{totalVacancies > 0 ? '/dashboard/vacancy/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    All Vacancies &nbsp; ({{totalVacancies}}) +
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{favoriteVacancies > 0 ? '/vacancy/favorite/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Favorite Vacancies &nbsp; ({{favoriteVacancies}}) +
                </div>
            </a>
        </div>
        <div ng-if="company" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/vacancy/create">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Create Vacancy +
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/vacancy/me/applied/list">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    I applied
                </div>
            </a>
        </div>
        <div ng-if="company" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/vacancy/applied/list">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Applied vacancies
                </div>
            </a>
        </div>
    </div>
    <h2 class="m-t-100 m-b-50 title-color">Resumes</h2>
    <div class="row m-b-150">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{myResumes > 0 ? '/resume/user/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    My Resumes &nbsp; ({{myResumes}})
                </div>
            </a>
        </div>
        <div  ng-if="company" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{totalResumes > 0 ? '/dashboard/resume/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    All Resumes &nbsp; ({{totalResumes}})
                </div>
            </a>
        </div>
        <div ng-if="!company" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="/resume/create">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Create Resume
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{invitations > 0 ? '/resume/invited/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Invited Resumes &nbsp; ({{invitations}})
                </div>
            </a>
        </div>
        <div ng-if="company" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-b-20">
            <a href="{{favoriteResumes > 0 ? '/resume/favorite/list' : '#'}}">
                <div class="search-block  d-f-center gray-color dashboard-block">
                    Favorite Resumes &nbsp; ({{favoriteResumes}})
                </div>
            </a>
        </div>

    </div>
</div>
<div data-ng-include="footer"></div>