<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<div data-ng-include="header_search"></div>
<div data-ng-include="top_menu"></div>
<div data-ng-include="top_menu_mobile"></div>


<div class="container m-t-75">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
                <div id="error_container" class="red-color f-size-24"></div>
            </center>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="test">{{data}}</div>
        </div>

        <div class="right" data-ng-include="pagination"></div>
        <div class="row section-content m-b-30" ng-repeat="institution in institutions">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="search-block m-b-30">
                    <div ng-show="institution.title" class="block-title f-size-18 title-color">
                        {{institution.title}}
                    </div>
                    <div class="resume-key m-b-20 m-t-30  pull-right" ng-show="institution.specialization">
                        <span class="gray-color fwbl f-size-16  content-item" ng-bind-html="institution.specialization"></span>
                    </div>

                    <div class="resume-key m-b-20 m-t-30">
                        <span class="resume-text content-item org-color" ng-bind-html="institution.city"></span>
                        &nbsp;
                        <span class="resume-text content-item org-color" ng-bind-html="institution.Countries.name"></span>
                    </div>

                    <div class="resume-key m-b-20 m-t-30" ng-show="institution.description">
                        <span class="resume-content content-item" ng-bind-html="institution.description"></span>
                    </div>

                    <div class="resume-key m-b-20 m-t-30  pull-right" ng-show="institution.site">
                        <span class="resume-text content-item link-color" ng-bind-html="institution.site"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left" data-ng-include="pagination"></div>
    <div class="m-b-50"></div>
</div>



<div data-ng-include="footer"></div>