<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<div data-ng-include="top_menu"></div>
<div data-ng-include="top_menu_mobile"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
                <div id="error_container" class="red-color f-size-24"></div>
            </center>
        </div>
    </div>
    <div class="loader m-t-75" id="ajax_loader">Loading...</div>
    <div class="m-t-75">
        <div id="login_container"></div>
        <a href="/login-recovery" class="login-recovery-link">Forgot password?</a>
    </div>
</div>
<div data-ng-include="footer"></div>