<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<div class="container">
    <div data-ng-include="admin_menu"></div>
    <h2 class="m-t-100 m-b-50 title-color">Notifications</h2>

    <button ng-if="admin" class="btn btn-blue right m-r-25 m-b-50" data-toggle="modal" data-target="#notificationModal">
        Create notification
    </button>

    <div class="row m-b-150">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-20" ng-repeat="notification in notifications">
            <div class="search-block b-1-lg w-100">
                <div class="t-a-c w-100  m-t-10 m-b-10 link-color f-size-28">{{notification.title}}</div>
                <p class="t-a-l w-100 m-b-10 vacancy-list-text">{{notification.description}}</p>
                <span class="right orange-color">{{notification.creationDate}}</span>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="footer"></div>


<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog m-t-150" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title light-gray-color" id="notificationModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="notification_create_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="fwbl olive-color f-size-16 m-b-3">Title</label>
                        <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Title">
                        <!--                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group">
                        <label for="notification_description" class="fwbl f-size-16 olive-color m-b-3">Description</label>
                        <textarea class="form-control" name="description" id="notification_description" rows="3"></textarea>
                    </div>
                    <div ng-if="superadmin" class="form-check m-b-3">
                        <input class="form-check-input" name="role" type="checkbox" value="superadmin" id="notification_superadmin">
                        <label class="form-check-label fwbl f-size-16 olive-color checkbox-position" for="notification_superadmin">
                            Superadmin
                        </label>
                    </div>
                    <div ng-if="superadmin" class="form-check m-b-3">
                        <input class="form-check-input" name="role" type="checkbox" value="admin" id="notification_admin">
                        <label class="form-check-label fwbl f-size-16 olive-color checkbox-position" for="notification_admin">
                            Admin
                        </label>
                    </div>
                    <div class="form-check m-b-3">
                        <input class="form-check-input"  name="role" type="checkbox" value="applicant" id="notification_applicant">
                        <label class="form-check-label  fwbl f-size-16 olive-color checkbox-position" for="notification_applicant">
                            Applicant
                        </label>
                    </div>
                    <div class="form-check m-b-3">
                        <input class="form-check-input"  name="role" type="checkbox" value="manager" id="notification_employer">
                        <label class="form-check-label  fwbl f-size-16 olive-color checkbox-position" for="notification_employer">
                            Employer
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"   class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>