<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
</header>
<div class="container m-t-75">
    <div data-ng-include="admin_menu"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
                <div id="error_container" class="red-color f-size-24"></div>
            </center>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-50 t-a-c">
                <div ng-cloak class="block-title">
                    <h2 class="title-color">Invited</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="right" data-ng-include="pagination"></div>
    <div ng-cloak ng-show="resumes" class="row section-content" ng-repeat="resume in resumes">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="search-block m-b-30">
                <div ng-show="resume.age"  class="search-grey-text right">Age: {{ resume.age }}</div>
                <a href="/resume/{{resume.id}}" ng-cloak ng-show="resume.position" class="block-title"
                   style="font-size: 18px;"> {{resume.position}} </a>

                <div class="resume-user-info m-t-10">
                    <div ng-cloak ng-show="resume.location" class="search-grey-text left">{{ resume.location }}</div>
                    <div ng-cloak ng-show="resume.location && resume.user.name" class="search-grey-text left m-l-5">|
                    </div>
                    <div ng-cloak ng-show="resume.user.name" class="search-grey-text left m-l-5 fwb">{{ resume.user.name
                        }} &nbsp; {{ resume.user.surname}}
                    </div>
                    <div ng-cloak ng-show="resume.user.surname" class="search-block-salary"><span class="block-salary">{{ resume.salary}}&nbsp;{{resume.currency}}</span>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-cloak ng-show="resume.about_me" class="search-block-content content-item m-t-10">{{
                        resume.about_me }}
                    </div>
                    <div class="m-t-10">
                        <div class="search-block-date left">{{ resume.date }}</div>
                        <a href="/resume/{{ resume.id }}" class="search-block-more right">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left" data-ng-include="pagination"></div>
</div>
<div data-ng-include="footer"></div>