<header id="header" class="  clear-fix">
    <div data-ng-include="header_content"></div>
    <div data-ng-include="header_background"></div>
</header>
<div data-ng-include="header_search"></div>
<div data-ng-include="top_menu"></div>
<div data-ng-include="top_menu_mobile"></div>


<div class="container m-t-75">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
                <div id="error_container" class="red-color f-size-24"></div>
            </center>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="test">{{data}}</div>
        </div>

        <div class="right" data-ng-include="pagination"></div>
        <div class="row section-content  m-b-30" ng-repeat="subcategory in subcategories">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="search-block m-b-30">
                    <a ng-show="subcategory.title" href="/subcategory/articles/{{subcategory.id}}" class="block-title"
                       style="font-size: 18px;"> {{subcategory.title}} </a>
                    <div class="resume-key m-b-20 m-t-30" ng-show="subcategory.description">
                        <img ng-if="subcategory.Images" src="{{host}}{{subcategory.Images.path}}{{subcategory.Images.fileName}}" class="w-8 m-r-30 f-l">
                        <p class="p-l-10">
                            <span class="resume-text content-item" ng-bind-html="subcategory.description"></span>
                        </p>
                    </div>

                    <!--                    <div class="resume-key m-b-20 m-t-30" ng-show="subcategory.text">-->
                    <!--                        <span class="resume-content content-item" ng-bind-html="subcategory.text"></span>-->
                    <!--                    </div>-->


                    <div class="m-t-10">
                        <div class="search-block-date right" ng-if="subcategory.has_article === '1'">
                            <a href="/subcategory/articles/{{subcategory.id}}" style="text-decoration: none;">More</a>
                        </div>
                        <div class="search-block-date right" ng-if="subcategory.link">
                            <a href="{{subcategory.link}}" style="text-decoration: none;" target="_blank">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left" data-ng-include="pagination"></div>
    <div class="m-b-50"></div>
</div>


<div data-ng-include="footer"></div>