.events .chosen-container {
    height: 50px !important;
}

.events .chosen-single {
    height: 50px !important;
}

.events .chosen-single div, .events .chosen-single span {
    margin-top: 10px !important;
}